*{
    box-sizing: border-box;
}

body{
    font-family: 'Poppins',sans-serif;
    margin: 0;
    text-align: center;
}
main{
    background: linear-gradient(135deg,rgb(159, 3, 159),rgb(253, 184, 195));
    min-height: 100vh;
    color: white ;
    padding: 6rem;
    position: relative;
    overflow:  hidden;
}


h1{
    font-size:10rem;
    line-height: 1;
    margin: 0;
}
a{
    color:white;
}
main::after,main::before{
    border-radius: 50%;
    content: '';
    position: absolute;
    width: 300px;
    height: 300px;
}

main::after{
    background: linear-gradient(135deg,rgb(181, 11, 181),pink);
    bottom: -100px;
    left: -50px;
   
}

main::before{
    background: linear-gradient(135deg,rgb(181, 11, 181),pink);
    top:-100px;
    right: -66px;
}
.bubble {
            position: absolute;
            border-radius: 50%;
            background: linear-gradient(135deg,rgb(181, 11, 181),pink); /* 和页面渐变统一 */
        }
  .bubble1 {width: 220px; height: 220px; top: 18%;  left: 12%;  opacity: 0.4;}
        .bubble2 {width: 75px;  height: 75px;  bottom: 25%; right: 20%; opacity: 0.6;}
        .bubble3 {width: 130px; height: 130px; top: 45%;  right: 12%; opacity: 0.3;}
        .bubble4 {width: 50px;  height: 50px;  bottom: 15%; left: 28%;  opacity: 0.7;}
        .bubble5 {width: 180px; height: 180px; top: 30%;  right: 40%; opacity: 0.5;}